@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
  }
  .custom-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .custom-scrollbar {
    scrollbar-width: none;
  }
}
